<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
    crossorigin="anonymous"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  
  <!-- featuresTemp -->
  <script id="featuresTemp" type="text/html">
    {{each}}
    <div class="col">
      <div class="card display-f">
        <div class="display-f">
          {{if $value.image}}
            <img src="{{$value.image}}" width="69" height="60" class="rounded" alt="...">
          {{/if}}
          <div class="card-body">
            <p class="card-title">{{$value.title}}</p>
            <div class="display-f flex-col imgt">
              {{each $value.textArr}}
                <p class="card-text">{{ $value }}</p>
              {{/each}}
            </div>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </script>

  <!-- participantsTemp -->
  <script id="participantsTemp" type="text/html">

    <!-- top -->
    <div class="participants-top">
      <p>Features</p>
      <div class="line"></div>
    </div>


    {{each}}
    <div class="col">
      <div class="card va-card  display-f flex-col align-c">
        {{each $value.content}}
          <div class="content">
            {{ $value }}
          </div>
        {{/each}}

        <img src="{{$value.icon}}" width="94" height="18" class="rounded" alt="...">
        
        <div class="bcontent">
          <p class="bcontent-title">{{ $value.bcontent.title }}</p>
          <div class="block disply-f flex-wrap">
            {{each $value.bcontent.textArr}}
              <p class="text text-c">
                {{ $value }}
              </p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    
    <!-- bottom -->
    <div class="participants-bottom">
      <img width="100%" src="<%= require('../images/border-s.png') %>" alt="">
      <div class="line"></div>
      <p>Values</p>
    </div>
  </script>

  <!-- roadMap -->
  <script id="roadMapListTemp" type="text/html">
    <div class="map-content_t map-content_box display-f">
      {{each top}}
      <div class="content-list display-f flex-cc">
        <svg class="line" width="192px" height="113px" viewBox="0 0 192 113" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
            <g transform="translate(-483.000000, -4658.000000)" stroke="#3C3789" stroke-width="5">
              <g transform="translate(109.170455, 4382.000000)">
                <path
                  d="M377.627051,386.5 L484.192741,294.822269 C495.623085,284.988822 510.201151,279.581014 525.279262,279.581014 L562.409091,279.581014 L562.409091,279.581014"
                  transform="translate(470.018071, 333.040507) scale(1, -1) translate(-470.018071, -333.040507) ">
                </path>
              </g>
            </g>
          </g>
        </svg>
        <p class="label display-f flex-cc">{{$value.label}}</p>
        <p class="content-text">{{$value.info}}</p>
      </div>
      {{/each}}
    </div>
    <div class="map-content_b map-content_box display-f">
      {{each bot}}
      <div class="content-list display-f flex-cc">
        <svg class="line" width="192px" height="113px" viewBox="0 0 192 113" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
            <g transform="translate(-483.000000, -4658.000000)" stroke="#3C3789" stroke-width="5">
              <g transform="translate(109.170455, 4382.000000)">
                <path
                  d="M377.627051,386.5 L484.192741,294.822269 C495.623085,284.988822 510.201151,279.581014 525.279262,279.581014 L562.409091,279.581014 L562.409091,279.581014"
                  transform="translate(470.018071, 333.040507) scale(1, -1) translate(-470.018071, -333.040507) ">
                </path>
              </g>
            </g>
          </g>
        </svg>
        <p class="label display-f flex-cc">{{$value.label}}</p>
        <p class="content-text">{{$value.info}}</p>
      </div>
      {{/each}}
    </div>
  </script>

  <!-- team -->
  <script id="advisorsTemp" type="text/html">
    <div class="content a-1">
      <div class="title">{{team.title}}</div>
      <div class="a-row">
        {{each team.list as item}}
        <div class="card border-white mb-3 align-c">
          <img src="{{item.image}}" width="95px" class="rounded-circle" alt="...">
          <div>
            <h5 class="card-title text-c">{{item.title}}</h5>
            <p class="card-text text-c">{{item.text}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <!-- <div class="target display-f flex-cc">
      <img class="target-icon" src="<%= require('../images/target.png') %>" alt="">
      <img class="target-line" src="<%= require('../images/target-line.png') %>" alt="">
    </div>
    <div class="content  a-2">
      <div class="title">{{advisors.title}}</div>
      <div class="a-row">
        {{each advisors.list as item}}
        <div class="card border-white mb-3 align-c">
          <img src="{{item.image}}" width="95px" class="rounded-circle" alt="...">
          <div>
            <h5 class="card-title text-c">{{item.title}}</h5>
            <p class="card-text text-c">{{item.text}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div> -->
  </script>

</head>

<body>
  <!-- menu -->
  <div class="menu-box display-f align-c justify-sb">
    <div class="container display-f align-c">
      <div class="menu display-f align-c">
        <img class="logo" src="<%= require('../images/logo.png') %>" alt="">
        <ul class="menu-container display-f">
          <li class="menu-list">
            <a class="scroll" href="#M1">M1</a>
          </li>
          <li class="menu-list">
            <a class="scroll" href="#Features">Features&Value</a>
          </li>
          <li class="menu-list">
            <a class="scroll" href="#Participants">Participants&Incentives</a>
          </li>
          <li class="menu-list">
            <a class="scroll" href="#WhitePaper">WhitePaper</a>
          </li>
          <li class="menu-list">
            <a class="scroll" href="#Advisors">Team</a>
          </li>
          <li class="menu-list">
            <a class="scroll" href="#RoadMap">RoadMap</a>
          </li>
          <li class="menu-list">
            <a target="_black" href="https://blog.m1nk.io/">Blog</a>
          </li>
        </ul>
      </div>
      <div class="menu-link display-f flex-cc">
        <a target="_black" href="https://twitter.com/M1_Network"><img width="24px" height="24px"
            src="<%= require('../images/T.svg') %>" alt=""></a>
        <a target="_black" href="https://www.facebook.com/M1Network1"><img width="24px" height="24px"
            src="<%= require('../images/F.svg') %>" alt=""></a>
        <a target="_black" href="https://t.me/M1Network_official"><img width="24px" height="24px"
            src="<%= require('../images/te.svg') %>" alt=""></a>
        <a target="_black" href="https://www.reddit.com/user/M1Network"><img width="24px" height="24px"
            src="<%= require('../images/r.svg') %>" alt=""></a>
        <a target="_black" href="https://medium.com/@M1Network"><img width="24px" height="24px"
            src="<%= require('../images/m.svg') %>" alt=""></a>
        <!-- <p class="menu-btn">Portal</p> -->
      </div>
    </div>
  </div>

  <!-- dropmenu -->
  <div class="dropmenu-box display-f justify-sb alicn-c">
    <img height="42px" src="<%= require('../images/logo.png') %>" alt="">
    <div class="dropmenuOpen display-f align-c">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 12 10" fill="#ffffff" class="uEUoE">
        <path fill-rule="evenodd"
          d="M12,20 L22,20 C22.5522847,20 23,20.4477153 23,21 C23,21.5522847 22.5522847,22 22,22 L12,22 C11.4477153,22 11,21.5522847 11,21 C11,20.4477153 11.4477153,20 12,20 Z M12,16 L22,16 C22.5522847,16 23,16.4477153 23,17 C23,17.5522847 22.5522847,18 22,18 L12,18 C11.4477153,18 11,17.5522847 11,17 C11,16.4477153 11.4477153,16 12,16 Z M12,12 L22,12 C22.5522847,12 23,12.4477153 23,13 C23,13.5522847 22.5522847,14 22,14 L12,14 C11.4477153,14 11,13.5522847 11,13 C11,12.4477153 11.4477153,12 12,12 Z"
          transform="translate(-11 -12)"></path>
      </svg>
    </div>
  </div>

  <!-- header -->
  <div class="header">
    <div class="h-top display-f justify-c align-c">
      <div class="h-left">
        <div class="h-left_t">
          <p>See you in metaverse</p>
        </div>
        <!-- <div class="h-left_b display-f aling-c">
          <a class="scroll" href="#M1">
            <div class="play-icon-box">
              <img class="play-icon" src="<%= require('../images/play.png') %>" alt="...">
              <div class="pulse1"></div>
              <div class="pulse2"></div>
              <div class="pulse3"></div>
            </div>
          </a>
          <div class="h-b-info display-f flex-col justify-c">
            <p>ABOUT US</p>
            <p>Promotion video</p>
          </div>
        </div> -->
      </div>
      <div class="h-right">
        <img class="banner-logo" src="<%= require('../images/big-logo.png') %>" alt="...">
      </div>
    </div>
    <img class="header-after" src="<%= require('../images/header-after.png') %>" alt="...">
  </div>

  <!-- email -->
  
  <div class="email display-f align-c">
    <div class="container display-f align-c justify-fe">
      <span>Subscribe to M1-Network for updates</span>
      <input placeholder="Email" type="text" class="email-inp">
      <div class="email-btn display-f flex-cc">Subscribed</div>
      <img class="header-before" src="<%= require('../images/header-before.png') %>" alt="...">
    </div>
  </div>
  

  <!-- section-2 video -->
  <div id="M1" class="section section-2">
    <div class="container">
      <div class="row row-cols-xl-2 row-cols-1">
        <div class="col display-f justify-c align-c">
          <div id="videoplayer"></div>
        </div>
        <div class="col">
          <div class="card border-white display-f">
            <div class="card-body">
              <p class="card-title">M1 Network</p>
              <p class="card-text">M1 network is a decentralized cloud real-time rendering platform for gamefi, virtual live broadcasts, and panoramic social scenes. It naturally supports the data design of the blockchain, and will become the core infrastructure of the metaverse through a decentralized real-time visualization network. M1 Network is a project that helps every chain and every user quickly realize and experience the high-definition full-realistic visualization metaverse service. It is committed to providing each chain with a high-definition, full-realistic metaverse ecology, and helping each chain to quickly form its own cosmic civilization.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- participants -->
  <div id="Participants" class="section participants">
    <div class="container-lg">
      <div class="title">Participants&Incentives</div>
      <div id="participants-list" class="row row-cols-lg-3 row-cols-1"></div>
    </div>
  </div>
  
  <!-- section-1 -->
  <div id="Features" class="section section-1">
    <div class="container-lg">
      <div class="title">Feature&Value</div>
      <div id="features-list" class="row row-cols-lg-3 row-cols-1"></div>
    </div>
  </div>

  


  

  <!-- section-3  pdf -->
  <div id="WhitePaper" class="section section-3">
    <div class="container">
      <div class="row row-cols-md-2 row-cols-1">
        <div class="col display-f justify-c">
          <!-- swiper -->
          <div class="downloadBox display-f flex-col flex-cc">
            <img width="200" src="<%= require('../images/big-logo.png') %>" alt="">
            <h5>M1 Network Project Whitepaper</h5>
            <h5>Beta 0.1</h5>
            <h6>author:loewion</h6>
          </div>
          <!-- <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slide text-c">
                  <img width="307" data-index="0" src="<%= require('../images/wd.png') %>" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide text-c">
                  <img width="307" data-index="1" src="<%= require('../images/wd.png') %>" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide text-c">
                  <img width="307" data-index="2" src="<%= require('../images/wd.png') %>" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div> -->
        </div>
        <div class="col text-c display-f flex-cc">
          <div class="btn download display-f flex-cc">Download WhitePaper</div>
        </div>
      </div>
    </div>
  </div>

  <!-- section-4 -->
  <div id="Advisors" class="section section-4">
    <!-- art -->
    <!-- <div id="advisorAndTeam" class="a-container"></div> -->

    <!-- fix card -->
    <div class="container">
      <div class="title">Team</div>
      <div class="row">
        <div class="col">
          <div class="card team-card border-white mb-3 align-c">
            <img src="<%= require('../images/ceo.png') %>" width="95px" class="rounded-circle" alt="...">
            <div>
              <h5 class="card-title text-c">CEO Richard</h5>
              <p class="card-text text-c">iMin Technology Pte Ltd Co-Founder 
                Sunway International Pte Ltd
                ZTE Singapore Pte Ltd  Managing Director
                Beijing University of Technology
                University College Dublin</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card team-card border-white mb-3 align-c">
            <img src="<%= require('../images/cmo.png') %>" width="95px" class="rounded-circle" alt="...">
            <div>
              <h5 class="card-title text-c">CMO Dan</h5>
              <p class="card-text text-c">MyGamez Ltd.  Advisor & Investor
                Riot Games
                Head of Operations - Riot China
                Producer and Product Manager
                Princeton University</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card team-card border-white mb-3 align-c">
            <img src="<%= require('../images/cto.png') %>" width="95px" class="rounded-circle" alt="...">
            <div>
              <h5 class="card-title text-c">CTO Loewion</h5>
              <p class="card-text text-c">Google Stadia  Project Manager
                YoutubeMonetzation  Project Manager
                Netflix  Senior Director Of Engineering
                Massachusetts Institute of Technology
                Nanyang Technological University</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card team-card border-white mb-3 align-c">
            <img src="<%= require('../images/cio.png') %>" width="95px" class="rounded-circle" alt="...">
            <div>
              <h5 class="card-title text-c">CIO Eric</h5>
              <p class="card-text text-c">Member Of The Supervisory Board
                KPN  Group Chief Tehnology Officer
                Erasmus University Rotterdam  MBA
                Technische Universiteit Delft</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section-5 -->
  <!-- <div id="Documents" class="section section-5">
    <div class="container">
      <div class="title">Blockchain Technology Partners</div>
      <div class="swiper-Blockchain swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/aa.jpg') %>" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/aa.jpg') %>" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/aa.jpg') %>" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/aa.jpg') %>" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/aa.jpg') %>" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/aa.jpg') %>" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/aa.jpg') %>" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide text-c">
              <img src="<%= require('../images/big-logo.png') %>" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- section-6 -->
  <div id="RoadMap" class="section section-6">
    <div class="title text-c">Project Road Map</div>
    <div class="roadMap-container display-f align-c">
      <div class="start display-f flex-cc">START</div>
      <!-- art -->
      <div id="roadMapList" class="map-content"></div>
    </div>
  </div>

  <!-- section-7 email-->
  <div class="section section-7">
    <div class="email display-f flex-cc">
      <div class="container display-f flex-cc">
        <span>Subscribe to M1-Network for updates</span>
        <input placeholder="Email" class="email-inp">
        <div class="email-btn display-f flex-cc">Subscribed</div>
        <img class="before" src="<%= require('../images/before.png') %>" alt="...">
      </div>
    </div>
  </div>

  <!-- section-8 bottom-->
  <div class="section section-8">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-1">
        <div class="col">
          <img src="<%= require('../images/b-logo.png') %>" class="b-logo" alt="...">
        </div>
        <div class="col">
          <div class="row row-cols-2">
            <div class="col display-f justify-fe">
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-title">Tell Me</li>
                <li class="list-group-item">
                  <a target="_black" href="https://twitter.com/M1_Network"><img width="30px" height="30px"
                      src="<%= require('../images/T.svg') %>" alt="">Twitter</a>
                </li>
                <li class="list-group-item">
                  <a target="_black" href="https://www.facebook.com/M1Network1"><img width="30px" height="30px"
                      src="<%= require('../images/F.svg') %>" alt="">Facebook</a>
                </li>
                <li class="list-group-item">
                  <a target="_black" href="https://t.me/M1Network_official">
                    <img width="30px" height="30px" src="<%= require('../images/te.svg') %>" alt="">Telegram
                  </a>
                </li>
                <li class="list-group-item">
                  <a target="_black" href="https://www.reddit.com/user/M1Network"><img width="30px" height="30px"
                      src="<%= require('../images/r.svg') %>" alt="">Reddit</a>
                </li>
                <li class="list-group-item">
                  <a target="_black" href="https://medium.com/@M1Network">
                    <img width="30px" height="30px" src="<%= require('../images/m.svg') %>" alt="">Medium
                  </a>
                </li>
              </ul>
            </div>
            <div class="col display-f justify-fs">
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-title">M1 Network</li>
                <li class="list-group-item">
                  <a class="scroll" href="#M1">About</a>
                </li>
                <li class="list-group-item">
                  <a class="scroll" href="#Features">Features</a>
                </li>
                <li class="list-group-item">
                  <a class="scroll" href="#WhitePaper">WhitePaper</a>
                </li>
                <li class="list-group-item">
                  <a class="scroll" href="#M1">Watch Video</a>
                </li>
                <li class="list-group-item">
                  <a class="scroll" href="#Advisors">Team</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- image swiper model -->
  <div class="swiper-model">
    <div class="swiper-model-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide text-c">
            <img data-index="0" src="<%= require('../images/wd.png') %>" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide text-c">
            <img data-index="0" src="<%= require('../images/wd.png') %>" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide text-c">
            <img data-index="0" src="<%= require('../images/wd.png') %>" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="swiper-close"></div>
  </div>

  <!-- model -->
  <div class="model">
    <div class="container display-f flex-col justify-c">
      <ul class="model-ul">
        <li>
          <a class="scroll" href="#Features">Features</a>
        </li>
        <li><a class="scroll" href="#M1">M1</a></li>
        <li><a class="scroll" href="#WhitePaper">WhitePaper</a></li>
        <li><a class="scroll" href="#Advisors">Team</a></li>
        <li><a class="scroll" href="#RoadMap">RoadMap</a></li>
        <li><a target="_black" href="https://blog.m1nk.io/">Blog</a></li>
      </ul>
      <div class="link">

        <a target="_black" href="https://twitter.com/M1_Network"><img width="30px" height="30px"
            src="<%= require('../images/T.svg') %>" alt=""></a>
        <a target="_black" href="https://www.facebook.com/M1Network1"><img width="30px" height="30px"
            src="<%= require('../images/F.svg') %>" alt=""></a>
        <a target="_black" href="https://t.me/M1Network_official"><img width="30px" height="30px"
            src="<%= require('../images/te.svg') %>" alt=""></a>
        <a target="_black" href="https://www.reddit.com/user/M1Network"><img width="30px" height="30px"
            src="<%= require('../images/r.svg') %>" alt=""></a>
        <a target="_black" href="https://medium.com/@M1Network"><img width="30px" height="30px"
            src="<%= require('../images/m.svg') %>" alt=""></a>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>