// email
.email {
  margin: 20px 0;
  // background-color: rgba(17, 7, 49, 1);
  position: relative;
  .container {
    height: 60px;
    width: 732px;
    background: #FFFFFF;
    box-shadow: 5px 5px 24px 0px rgba(110, 107, 164, 0.22);
    border-radius: 30px;
  }
  span {
    font-size: 18px;
    font-family: Objectivity-Medium, Objectivity;
    font-weight: 400;
    color: #777EFF;
    display: block;
    width: 116px;
    text-align: center;
    border-right: 1px solid #DADADA;
  }
  .form-control {
    width: 325px;
    height: 44px;
    border-radius: 16px;
    margin: 0 22px 0 14px;
  }
  .email-inp {
    width: 364px;
    border: none;
    background: transparent;
    border-radius: 0;
    color: #777EFF;
    outline: none;
    margin:0 30px 0 -10px;
    position: relative;
    transition: all 0.4s;
    padding: 4px 0;
    &::-webkit-input-placeholder {
      color: rgba(93, 90, 111, 0.6);
    }
    &.email-error {
      border-bottom: 1px solid red;
    }
  }
  .email-btn {
    width: 115px;
    height: 40px;
    background: #777EFF;
    border-radius: 29px;
    color:#FFFFFF;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }
  .before, .header-before {
    position: absolute;
    bottom: -58px;
    left: 0;
    height: 58px;
    width: 100%;
    z-index: 99;
  }

  .before {
    height: 20px;
    bottom: -20px;
  }
}
// xiaoyu 1024px
// @media screen and (max-width: 1024px) {
//   .email {
//     justify-content: space-around;
//     .email-btn {
//       font-size: 16px;
//       margin:0 20px;
//     }
//     span {
//       // display: none;
//       font-size: 14px;
//     }
//     .email-inp {
//       flex: 1;
//       margin: 0 !important;
//       margin-left: 20px !important;
//     }
//   }
// }

@media screen and (max-width: 700px) {
  .container {
    width: 94% !important;

  }
  .email {
    span {
      width: 22% !important;
    }
    
    .email-inp {
      width: 48%;
      margin: 0 0 0 5px !important;
    }

    .email-btn {
      width: 25%;
      font-size: 14px;
      margin: 0 !important;
    }
  }
}