
.play-icon-box {
  position: relative;
  margin-right: 30px;
  z-index: 999;
  div[class^="pulse"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    box-shadow: 0 0 20px #777EFF;
    border-radius: 50%;
    animation: pulse 1.8s linear infinite;
  }
  
  .pulse2 {
    animation-delay: 0.6s !important;
  }

  .pulse3 {
    animation-delay: 0.9s;
  }
}

@keyframes pulse {
  50% {
    width: 100px;
    height: 100px;
    opacity: 1;
  }

  100% {
    width: 140px;
    height: 140px;
    opacity: 0;
    box-shadow: 0 0 20px transparent;
  }
}

// dayu 1026px
@media screen and (min-width: 1028px) {
  // header
  .header {
    width: 100%;
    // height: 801px;
    padding-top: 180px;
    padding-bottom: 50px;
    position: relative;
    // position: relative;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    overflow: hidden;
    .h-top {
      width: 100%;
      position: relative;
      margin-top: 39px;
      .title {
        z-index: 100;
        width: 553px;
        height: 163px;
        margin-left: 90px;
        color: rgba(56, 56, 56, 1);
        background-color: rgba(153, 153, 153, 0.5);
        padding: 16px 20px;
        border-radius: 16px;
        h4 {
          margin-top: 16px;
        }
      }
      .h-left {
        margin-top: 60px;
        .h-left_t {
          margin-bottom: 130px;
          p {
            font-size: 84px;
            font-family: Objectivity-Medium, Objectivity;
            font-weight: 500;
            color: #26242E;
            span {
              color: #6D6CF7;
            }
          }
          p:nth-child(2) {
            font-size: 64px;
          }
          p:nth-child(3) {
            color: #0A033C;
            font-size: 24px;
            font-family: Objectivity-Light;
            font-weight: 200;
          }
        }
        .h-left_b {
          .play-icon {
            width: 61px;
          }
          .h-b-info {
            p:nth-child(1) {
              font-size: 16px;
              font-family: Objectivity-Medium, Objectivity;
              font-weight: 500;
              color: #0A033C;
              
            }
            p:nth-child(2) {
              border-top: 1px solid #0A033C;
              font-size: 16px;
              font-family: Objectivity-Light;
              font-weight: 300;
              color: #0A033C;
            }
          }
        } 
      }
      .h-right {
        width: 697px;
        .banner-logo {
          width: 100%;
        }
      }
    }
  }
  .header-after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
  }
}


// xiaoyu 1026px
@media screen and (max-width: 1028px) {
  .header {
    width: 100%;
    position: relative;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    overflow: hidden;
    padding-top: 60px;
    display: flex;
    align-items: center;
    .h-top {
      width: 100%;
      position: relative;
      flex-flow: column-reverse;
      align-items: center;
      .title {
        z-index: 100;
        width: 553px;
        height: 163px;
        margin-left: 90px;
        color: rgba(56, 56, 56, 1);
        background-color: rgba(153, 153, 153, 0.5);
        padding: 16px 20px;
        border-radius: 16px;
        h4 {
          margin-top: 16px;
        }
      }
      
      .h-left {
        margin:20px 0;
        .h-left_t {
          margin-bottom: 0px;
          // padding-left: 24px;
          p {
            font-size: 40px;
            font-family: Objectivity-Medium, Objectivity;
            font-weight: 500;
            color: #26242E;
            text-align: center;
            span {
              color: #6D6CF7;
            }
          }
          p:nth-child(2) {
            font-size: 30px;
          }
          p:nth-child(3) {
            font-size: 14px;
            color: #0A033C;
            font-family: Objectivity-Light;
            font-weight: 200;
          }
        }
        .h-left_b {
          margin: 20px 0;
          width: 100%;
          justify-content: center;
          margin-left: -14px;
          .play-icon {
            width: 61px;
          }
          .h-b-info {
            p:nth-child(1) {
              font-size: 16px;
              font-family: Objectivity-Medium, Objectivity;
              font-weight: 500;
              color: #0A033C;
              
            }
            p:nth-child(2) {
              border-top: 1px solid #0A033C;
              font-size: 16px;
              font-family: Objectivity-Light;
              font-weight: 300;
              color: #0A033C;
            }
          }
        } 
      }
      .h-right {
        padding-top: 60px;
        width: 100%;
        text-align: center;
        .banner-logo {
          width: 90%;
          margin-left: 27px;
        }
      }
    }
  }
  .header-after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
  }
}