.a-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .content {
    transition: all 0.4s;
    &::-webkit-scrollbar {display: none;}
    .title {
      padding-left: 36px;
    }
  }
  .a-1 {
    width: 62%;
    position: relative;
  }
  .a-2 {
    width: 32%;
    position: relative;
    opacity: 0.4;
    .card-text {
      text-align: left;
    }
  }
  .a-row {
    height: 400px;
    display: flex;
    // flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    &::-webkit-scrollbar {display: none;}
    .card {
      height: 182px;
      width: 126px;
      margin: 0 30px;
      border: 1px solid antiquewhite;
      margin-bottom: 30px !important;
      background: transparent;
      border: transparent;
      .card-title {
        margin-top: 0.5rem;
        font-size: 20px;
        font-family: Objectivity-Medium, Objectivity;
        font-weight: 500;
        color: #FFFFFF;
        white-space: nowrap;
      }
      .card-text {
        font-size: 12px;
        font-family: PingFangSC-Light, PingFang SC;
        font-weight: 300;
        color: #B9B6DB;
      }
    }
  }
  .target {
    width: 6%;
    text-align: center;
    cursor: pointer;
    .target-line {
      height: 588px;
    }
    .target-icon {
      width: 58px;
      margin-right: 8px;
    }
  }
  .target-rotateY {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1024px) {
  .a-container {
    .a-row {
      // fix
      align-content: flex-start;
    }
  }
}
// 小于 800px
@media screen and (max-width: 1024px) {
  .a-container {
    width: 100% !important;
    flex-direction: column;
    margin: 0 auto;
    .content {
      width: 100% !important;
      opacity: 1 !important;
      overflow: scroll;
    }

    .a-row {
      width: 100% !important;
      overflow: scroll !important;
      .card {
        margin: 0!important;
        margin-bottom: 10px !important;
      }
    }

    .a-1 {
      .a-row {  
        // fix
        flex-flow: column;
        flex-wrap: wrap;
        align-content: none;
      }
    }
    

    .a-2 {
      .a-row {
        height: 430px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
      }
    }
    .target {
      display: none !important;
    }
  }
}


// fix card
.team-card {
  // height: 182px;
  // width: 126px;
  width: 224px;
  border: 1px solid antiquewhite;
  margin-bottom: 30px !important;
  background: transparent;
  border: transparent;
  margin: 0 auto;
  .card-title {
    margin-top: 0.5rem;
    font-size: 20px;
    font-family: Objectivity-Medium, Objectivity;
    font-weight: 500;
    color: #FFFFFF;
    white-space: nowrap;
  }
  .card-text {
    font-size: 12px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #B9B6DB;
  }
}