.a-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .content {
    transition: all 0.4s;
    &::-webkit-scrollbar {display: none;}
    .title {
      padding-left: 36px;
    }
  }
  .a-1 {
    width: 62%;
    position: relative;
  }
  .a-2 {
    width: 32%;
    position: relative;
    opacity: 0.4;
    .card-text {
      text-align: left;
    }
  }
  .a-row {
    height: 400px;
    display: flex;
    // flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    &::-webkit-scrollbar {display: none;}
    .card {
      height: 182px;
      width: 126px;
      margin: 0 30px;
      border: 1px solid antiquewhite;
      margin-bottom: 30px !important;
      background: transparent;
      border: transparent;
      .card-title {
        margin-top: 0.5rem;
        font-size: 20px;
        font-family: Objectivity-Medium, Objectivity;
        font-weight: 500;
        color: #FFFFFF;
        white-space: nowrap;
      }
      .card-text {
        font-size: 12px;
        font-family: PingFangSC-Light, PingFang SC;
        font-weight: 300;
        color: #B9B6DB;
      }
    }
  }
  .target {
    width: 6%;
    text-align: center;
    cursor: pointer;
    .target-line {
      height: 588px;
    }
    .target-icon {
      width: 58px;
      margin-right: 8px;
    }
  }
  .target-rotateY {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1024px) {
  .a-container {
    .a-row {
      // fix
      align-content: flex-start;
    }
  }
}
// 小于 800px
@media screen and (max-width: 1024px) {
  .a-container {
    width: 100% !important;
    flex-direction: column;
    margin: 0 auto;
    .content {
      width: 100% !important;
      opacity: 1 !important;
      overflow: scroll;
    }

    .a-row {
      width: 100% !important;
      overflow: scroll !important;
      .card {
        margin: 0!important;
        margin-bottom: 10px !important;
      }
    }

    .a-1 {
      .a-row {  
        // fix
        flex-flow: column;
        flex-wrap: wrap;
        align-content: none;
      }
    }
    

    .a-2 {
      .a-row {
        height: 430px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
      }
    }
    .target {
      display: none !important;
    }
  }
}


// fix card

.team {
  background: #EDEBFA;
}
.team-card {
  // height: 182px;
  // width: 126px;
  width: 224px;
  border: 1px solid antiquewhite;
  margin-bottom: 30px !important;
  background: transparent;
  border: transparent;
  margin: 0 auto;

  img {
    margin-top: -90px;
    z-index: 999;
  }
  
  .card-title {
    margin-top: 0.5rem;
    font-size: 24px;
    font-family: Objectivity-Medium, Objectivity;
    font-weight: 500;
    color: #0A033C;
    white-space: nowrap;
    margin-top: -20px;
  }
  .card-text {
    font-size: 14px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    // color: #B9B6DB;
    line-height: 24px;
  }

  .card-content {
    text-align: center;
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    p {
      margin-bottom: 2px;
    }
    .team-deep {
      color: #0A033C;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
    }
    .team-simple {
      font-family: PingFangSC-Light, PingFang SC;
      color: #0A033C;
      font-size: 14px;
    }
    .team-b {
      margin-bottom: 20px;
      .team-blue {
        color: #6D6CF7;
        font-family: PingFangSC-Regular, PingFang SC;
        font-size: 14px;
      }
    }
    
  }
  .team-content {
    width: 277px;
    height: 414px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 20px 24px 0px rgba(110, 107, 164, 0.22);
    border-radius: 31px;
    margin-bottom: 80px;
    display: flex;
    flex-flow: column;
  }
}


