.a-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .content {
    transition: all 0.4s;
    &::-webkit-scrollbar {display: none;}
    .title {
      padding-left: 36px;
    }
  }
  .a-1 {
    width: 62%;
    position: relative;
  }
  .a-2 {
    width: 32%;
    position: relative;
    opacity: 0.7;
  }
  .a-row {
    height: 400px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    &::-webkit-scrollbar {display: none;}
    .card {
      height: 182px;
      width: 126px;
      margin: 0 30px;
      border: 1px solid antiquewhite;
      margin-bottom: 20px;
      background: transparent;
      border: transparent;
      .card-title {
        margin-top: 0.5rem;
        font-size: 20px;
        font-family: Objectivity-Medium, Objectivity;
        font-weight: 500;
        color: #FFFFFF;
      }
      .card-text {
        font-size: 12px;
        font-family: PingFangSC-Light, PingFang SC;
        font-weight: 300;
        color: #B9B6DB;
      }
    }
  }
  .target {
    width: 6%;
    text-align: center;
    cursor: pointer;
    .target-line {
      height: 588px;
    }
    .target-icon {
      width: 58px;
      margin-right: 8px;
    }
  }
  .target-rotateY {
    transform: rotate(180deg);
  }
}
// @media screen and (max-width: 1024px) {
//   .a-container {
//     width: 100% !important;
//     overflow: hidden;
//   }
// }
// 小于 800px
@media screen and (max-width: 1024px) {
  .a-container {
    width: 100% !important;
    flex-direction: column;
    margin: 0 auto;
    .content {
      width: 100% !important;
      opacity: 1 !important;
      overflow: scroll;
    }
    .a-row {
      width: 100% !important;
      overflow: scroll !important;
      .card {
        margin: 0!important;
      }
    }
    .target {
      display: none !important;
    }
  }
}